---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import DownloadIcon from "../components/icons/DownloadIcon.astro";

import { skills } from "../content/config";

import { getCollection } from "astro:content";
import ExternalLinkIcon from "../components/icons/ExternalLinkIcon.astro";

const projects = await getCollection("projects");

export const prerender = true;
---

<Layout title="Maximo Dip">
  <main>
    <Section data-aos="fade-in" data-aos-once="true" data-aos-delay="100">
      <div>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/maximodipaparicio/"
          class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 hover:opacity-70 cursor-pointer"
          >Disponible para trabajar</a
        >
      </div>
      <h1 class="text-7xl font-extrabold -z-10">Maximo Dip</h1>
      <h3 class="text-3xl opacity-70 font-semibold">Desarrollador Fullstack</h3>
      <div class="mt-4 flex items-center gap-x-4">
        <a
          href="#projects"
          class="px-5 py-2.5 rounded-lg bg-white/5 font-semibold hover:opacity-70"
        >
          Trabajos
        </a>
        <a
          href="/CV.pdf"
          target="_blank"
          class="flex items-center px-5 gap-x-1 py-2.5 rounded-lg bg-white/5 font-semibold hover:opacity-70"
        >
          CV <ExternalLinkIcon class="size-3 -inset-y-1 relative" />
        </a>
      </div>
    </Section>
    <Section
      arial-label="Informacion sobre mi"
      data-aos="fade-in"
      data-aos-once="true"
      data-aos-delay="100"
    >
      <h1 class="text-2xl font-bold">Sobre mí</h1>
      <div
        class="prose max-w-full text-pretty font-sans text-sm text-muted-foreground dark:prose-invert"
      >
        <p>
          Mi nombre es Máximo Dip Aparicio pero mis amigos me llaman Dip y
          empecé a programar en 2022. He estado desarrollando proyectos mientras
          realizo mi carrera universitaria como programador. Por el momento
          estoy buscando oportunidades. Mis objetivos son mejorar mis
          habilidades como desarrollador, aprender nuevas tecnologías y crear
          excelente software.
        </p>
      </div>
    </Section>
    <Section
      arial-label="Mis estudios como programador"
      data-aos="fade-in"
      data-aos-once="true"
      data-aos-delay="100"
    >
      <h1 class="text-2xl font-bold">Educacion</h1>
      <p class="text-white">
        Recibido como Técnico Universitario en Programación en la
        <a href="https://utn.edu.ar/es/" target="_blank" class="underline"
          >Universidad Tecnologica Nacional</a
        >
      </p>
    </Section>
    <Section
      arial-label="Mis habilidades como programador"
      data-aos="fade-in"
      data-aos-once="true"
      data-aos-delay="100"
    >
      <h1 class="text-2xl font-bold">Skills</h1>

      <div class="flex gap-x-2 items-center flex-wrap gap-y-2">
        {
          skills.map((skill) => (
            <div class="flex p-2 bg-white/5 rounded-lg items-center gap-x-2">
              <span class="text-sm font-semibold text-white select-none">
                {skill.title}
              </span>
              <skill.icon class="w-6 h-6" />
            </div>
          ))
        }
      </div>
    </Section>
    <Section aria-label="Mis trabajos como programador" id="projects">
      <h1
        class="text-2xl font-bold mb-2"
        data-aos="fade-in"
        data-aos-delay="100"
        data-aos-once="true"
      >
        Mis proyectos
      </h1>
      <article class="grid grid-cols-1 gap-3 max-w-[800px] mx-auto">
        {
          projects.map((project) => {
            const { slug, data } = project;
            const { title, description, link, img, type } = data;

            return (
              <div
                class="flex flex-col justify-center"
                data-aos="fade-in"
                data-aos-delay="100"
                data-aos-once="true"
              >
                <a
                  target="_blank"
                  href={link}
                  class="mb-2 xl:mb-0 transition md:hover:scale-110 md:hover:z-50"
                >
                  <img
                    transition:name={`img-${slug}`}
                    class="rounded"
                    src={`/${img}`}
                    alt={title}
                  />
                </a>
                <div class="mt-2 mb-4">
                  <h2
                    transition:name={`title-${slug}`}
                    class="text-2xl font-bold leading-tight text-white"
                  >
                    {title}
                  </h2>

                  <p class="mb-1 text-gray-300 opacity-90 text-sm">
                    {description}
                  </p>
                  <div>
                    <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
                      {type}
                    </span>
                  </div>
                </div>
              </div>
            );
          })
        }
      </article>
    </Section>
    <Section
      data-aos="fade-in"
      data-aos-delay="100"
      data-aos-once="true"
      arial-label="Zona de contacto"
    >
      <h1 class="text-2xl font-bold">Contacto</h1>
    </Section>
    <Section arial-label="Informacion secundaria">
      <footer class="flex items-center justify-between">
        <span class="text-sm font-semibold">
          ©{new Date().getFullYear()} Maximo Dip</span
        >
        <span class="text-sm">Portfolio minimalista<span> </span> </span>
      </footer>
    </Section>
  </main>
</Layout>
